.producers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#producers-intro {
    font-size: 40px;
    text-align: center;
}

.producer img {
    width: 20%;
    border-radius: 100%;
}



