.producers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5%;
}

#producers-intro {
    font-size: 40px;
    text-align: center;
    padding-bottom: 5%;
}

.producer {
    width: 30%;
}

.producer img {
    height: 95%;
    border-radius: 100%;
    display: flex;
    margin: auto;
}

.producer p {
    font-size: 20px;
    text-align: center;
}

