
body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* Khang Styles */

.topnav {
  background-color: ghostwhite ;
  color: #721404;
  position: fixed;
  top:'#';
  width: 100%;
  font-family: 'Roboto' , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 5px ghostwhite;
  transition: top 0.5s;
  z-index: 1000;
  }
.topnav a {
  font-family: 'Roboto' , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  float: left;
  display: block;
  color: #721404;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  background-color:'#';
  opacity: 100%;
  transition: top 0.5s;
  z-index: 1000;
  }
.topnav a:hover {
  opacity: 100%;
  color: black;
  }
.topnav a.active {
  background-color: transparent;
  color: #721404;
  }
.topnav-left {
  float: left;
  }
.topnav-right {
  float: right;     
  }
.dropdown {
  float: left;
  overflow: hidden;
  font-family: 'Roboto' , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: #721404;
  }
.dropdown .dropbtn {
  font-size: 18px;  
  border: none;
  outline: none;
  padding: 14px 12px;
  margin: 0;
  font-family: 'Roboto' , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #721404;
  background-color: ghostwhite
  }
.topnav a:hover, .dropdown:hover .dropbtn {
  color:'#';
  }
.dropdown-content {
  display: none;
  position: absolute;
  background-color: ghostwhite;
  min-width: 140px;
  box-shadow: 0px 10px 16px 0px rgba(0,0,0,0);
  z-index: 0;
  text-align: center;
  color: #721404;
  border-bottom-right-radius:12px;
  border-bottom-left-radius: 12px;
  border-left: 0.1px solid ghostwhite;
  border-right: 0.1px solid ghostwhite;
  border-bottom: 0.1px solid ghostwhite;
  }
.dropdown-content a {
  float: none;
  color: #721404;;
  display: block;
  text-align: center;
  max-width: 140px;
  }
.dropdown-content a:hover {
  background-color: ghostwhite;
  color: black;
  border-bottom-right-radius:12px;
  border-bottom-left-radius: 12px;
  }
.dropdown:hover .dropdown-content {
  display: block;
  }
body {
  margin: 0;
  padding: 0;
  background-color: #343464;
  background-size: cover;
  opacity:'#';
  background-position:'#','#';
  background-repeat: no-repeat;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  }
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#343464;
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 60px;
  border: 1.5px black;
  border-top-right-radius: 12px;
  z-index: 100;
  }
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  }
.sidenav a:hover {
  color: gray;
  }
.closebtn {
  position: absolute;
  top: 0;
  right: 3px;
  font-size: 36px;
  margin-left: 40px;
  border: 1px gray;
  border-radius: 12px;
  }    
.p1 {
  font-family: 'Roboto' , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: 100;
  color: ghostwhite;
  position:'#';
  padding: 120px 80px;
  margin: 0px 0px;
  width: 55%;
  background-color:transparent;
  }
.p2 {
  font-size:21px;
  color:ghostwhite;
  position:'#';
  top: 260px;
  right: 330px;
  padding: 10px 25px;
  margin: 0px 0px;
  width: 100%;
  font-family: 'Roboto' , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:transparent;
  }
.p3 {
  font-family: 'Roboto' , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 55px;
  font-weight: 100;
  color: ghostwhite;
  position: 0px, 0px;
  margin-top: 0px;
  margin-left: 0px;
  background-color:transparent;
  rotate: 90deg;
  min-width: 10px;
  }
.p3a {
  font-family: 'Roboto' , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 55px;
  font-weight: 100;
  color: ghostwhite;
  position: 0px, 0px;
  margin-top: 0px;
  margin-left: 0px;
  background-color:transparent;
  rotate: 350deg;
  min-width: 10px;
  }
.p4 {
  font-family: 'Roboto' , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 45px;
  font-weight: 100;
  color: ghostwhite;
  position:'#';
  margin: 0px 0px;
  width: 100%;
  background-color:transparent;
  }
.p5 {
  font-family: 'Roboto' , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:ghostwhite;
  padding: 0px 60px;
  margin: 0px;
  width: 20%;
  font-weight: 200;
  font-size:20px;
  }
.p5a {
  font-family: 'Roboto' , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:ghostwhite;
  padding: 0px 50px;
  margin: 0px;
  width: 10%;
  font-weight: 200;
  font-size:20px;
  }
.p5b {
  font-family: 'Roboto' , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:ghostwhite;
  padding: 0px 50px;
  margin: 0px;
  width: 10%;
  font-weight: 200;
  font-size:20px;
  }
.p6 {
  font-family: 'Roboto' , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:ghostwhite;
  padding: 20px 50px;
  margin: 0px;
  width: 0%;
  font-weight: 100;
  font-size:18px;
  }
.section {
  height: 100vh;
  width: 100vw;
  display: flex;
  color: white;
  }
.section1 {
  background-image: linear-gradient(0deg, darkred, #343464);
  background-color:'#';
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }
.section2 {
  
  background-color: black ;
  max-width: 100%;
  max-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  }
.section3 {
  
  background-color: #343464;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 550px;
  }
 .section3a {
  
  background-color: ghostwhite;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 1.5px;
  }
.section3b {
  
  background-color: #343464;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 700px;
  padding-top: 100px;
  }
.section4 {
  background-color: darkred;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 400px;
  }
.section5 {
  
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 475px;
  }
#fadeText {
  transition: opacity 0.2s ease;
  color: ghostwhite;
  font-family: 'Roboto' , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:ghostwhite;
  padding: 80px 0px 20px 20px;
  margin: 0px;
  text-align: center;
  font-weight: 100;
  font-size:45px;
  }
.logo {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  }
.logo-container {
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;        
  background-color: #fff;
  margin: 10px 7px;
  border: 0.5px solid lightgray;
  z-index: 0;
  opacity: 100%;
  }
.logo-container2 {
  position: absolute;
  top:15px;
  left:15px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0px 0px;
  }
.card-container {
  background-color: transparent;
  width: 347px;
  height: 365px;
  perspective: 1000px;
  padding-top: 3%;
  padding-right: 100px;
  border-radius: 10px;
  }
.card-inner {
  position: relative;
  text-align: center;
  width: 340px;
  height: 365px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 10px;
  }
.card-container:hover .card-inner {
  transform: rotateY(180deg);
  border-radius: 10px;
  }
.front-card, .back-card {
  width: 340px;
  height: 365px;
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 10px;
  z-index: 1000;
  }
.front-card img {
  width: 340px;
  height: 365px;
  border-radius: 10px;
  z-index: 1000;
  }
.back-card {
  display: flex;
  align-items: center;
  border: 2px solid white;
  background-color: #65658f;
  border-radius: 10px;
  transform: rotateY(180deg);
  }
.back-card p {
  font-size: 20px;
  color: #fffff2;
  margin: auto;
  padding-left:15px;
  padding-right:15px;
  }
#upcoming-shows {
  display: flex;
  background-color:#343464;
  justify-content: center;
  padding-bottom: 2.5%
  }
.dates {
  justify-content: center;
  font-size: 20px;
  text-align: center;
  padding-left: 90px;
  font-family: 'Roboto' , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  }

  .slideshow-section {
    display: flex;
    justify-content: center;
    }
    .slider {
    width: 560px;
    height: 400px;
    overflow: hidden;
    position: relative;
    }
    .slides {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateY(0%);
    transition: transform 0.5s ease-in-out;
    }
    .slides img {
    object-fit: center;
    }


:root {
  --opacity: "100%";
  --curtain-open: 0%; /* Initial state of the curtain */
}

.curtain-0 {
  display: flex;
  align-items: center;
}

[class*=curtain] {
  position: relative;
  opacity: var(--opacity); /* Use the CSS variable for opacity */
}

[class*=curtain]::after,
[class*=curtain]::before {
  content: '';
  background-image: url(../images/63f82e20a63e5a1eb47939ad9e6159f4.png);
  position: absolute;
  transition-duration: 3s;
}

.curtain-0::after,
.curtain-0::before {
  height: 100%;
  width: 50%;
}

.curtain-0::after {
  right: 0;
  transform-origin: right;
}

.curtain-0::before {
  left: 0;
  transform-origin: left;
}

/* Initially, the curtains are closed */
.curtain-0 {
  --curtain-open: 100%; /* Start closed */
}

/* On page load, apply the curtain opening */
.curtain-opened::after,
.curtain-opened::before {
  transform: scaleX(0);
}


