
.shows {
    display: flex;
    justify-content: center;
    transition: transform 1s;
}

.shows img:hover {
  transform: scale(1.1);
}

hr {
    border-top: 15px solid #343464;
    border-bottom: 15px solid #343464;
    width: 60%;
    display: flex;
    justify-content: center;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 60%;
    position: relative;
    margin: auto;
    padding: 5%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fffff2;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

.prev {
    left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #fffff2;
  color: #343434;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*Purchase Tickets*/

.section {
    width: 60%;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top: 5%;
}

.purchase-tickets {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.section img {
    width: 70%;
    height: 120%;
    border-radius: 5%;
    float: right;
    margin-right: 0;
}


